body {
    background-color: black;
    font-size: 14px;
    line-height: 150%;
    font-family: sans-serif;
     line-height: 120%;
    
    
  

}

.field {
    border-radius: 20px;
    border: 5px solid grey;
    display: inline-block;
   
    width: 1200px;
    margin: 30px 20px 20px 80px;
    height: auto;
    text-align: centre;
    background-color:aliceblue;

}


.answer {
    background-color: lightgrey;
    
    font-weight: bold;
    color: darkblue;
      margin: 12px;
     line-height: 120%;
    text-justify: auto;
}

h1 {
    text-align: center;
}
strong{
    font-style: italic;
    color: red;
}


.code{
    line-height: 90%;
}
