<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>Quiz</display-name>
  <welcome-file-list>
    </welcome-file-list>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>cs472.quizservlet.QuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/QuizServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
</element>