body {
    text-align: center;
    width: 800px;
    background-color: darkgray;
    border: solid 4px;
    border-radius: 10px;
    overflow: hidden;
    font-family: sans-serif;
    margin-left: 20%;
    margin-top: 5%;
    width: 50%;

    padding: 10px;

}
a:hover{
    font-weight: bold;
}

