body{
    background-color:aliceblue;
    font-size: 18px;
    
}
fieldset{
    border-radius: 20px;
     border: 5px solid grey;
    width: 1200px;
  margin:auto;
    
}

    
.answer{
    background-color: lightgrey;
    width: 1200px;
}

h1{
    text-align: center;
}
h4{
   text-align: center; 
}

